{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "chrome": "74"
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "12"
            },
            "exclude": [
              "transform-regenerator"
            ]
          }
        ]
      ]
    }
  }
}
